# Ignore node_modules folder
node_modules/

# Test files/folders
archived_files/
test_files/

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.env.*

# Ignore build output
dist/
build/
uploads/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.iml

# Ignore coverage reports
coverage/   
*.lcov

# OCR trained data
*.traineddata

# Ignore temporary files
*.tmp
*.temp